<%= form_with url: '/csvs', method: :post, class: 'text-center' do |form| %>
  <%= form.label :csv, "Upload a new CSV:", class: 'label block m-5' %>
  <%= form.file_field :csv, class: 'file-input w-full max-w-xs m-3' %>
  <%= form.submit 'Save', class: 'btn' %>
<% end %>

<h1>All your csvs</h1>

